{% extends 'employeebase.html' %}
{% block content %}
<h2> Add Employee</h2>
<div class="large-6 columns" style="border-style: double;">
<form id="myForm">
            <label>name:</label>
            <input id="name" name="name" type="text"><br>

            <label>mobile:</label>
            <input id="mobile" name="mobile" type="text"><br>

            <label>email:</label>
            <input id="mail" name="mail" type="text"><br>

     <button type="submit">submit</button>
        </form>
{% endblock %}
    </div>