{% extends "employeebase.html" %}
{% block content %}
 <div class="row">
        <ul class="button-group round even-5">
            <li><a href="{% url 'addemployee' %}" class="button">Add Details</a></li>
            <li ><a href="#"  class="button" >View All</a></li>
            <li><a href="#"   class="button" >Get data </a></li>
            <li><a href="#"   class="button">search data</a></li>
            <li><a href="#"  class="button" >upload files </a></li>
        </ul>

    </div>

{% endblock %}