{% extends "employeebase.html" %}
{% block body %}
<div class="row">
    <center>
        {% ifequal l 0 %}
        <h2> No record found</h2>

        <a href="/employee/"><button style="background-color:black;"><span style="color:white;">Back To Home</span></button></a>


        {% else %}
          <h2>Result for searched name</h2>
<table>
    <tr>
        <th>name</th>
        <th>mobile</th>
        <th>email</th>
    </tr>
{% for emp in matcheddata %}
<tr>
    <td>{{emp.name}}</td>
    <td>{{emp.mobile}}</td>
    <td>{{emp.gmail}}</td>
</tr>
{% endfor %}
</table>
<a href="/employee/"><button style="background-color:black;"><span style="color:white;">Back To Home</span></button></a>

{% endifequal %}
        </center>
    </div>


{% endblock %}